@import url('https://fonts.googleapis.com/css2?family=Assistant');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: #010014;
    background: url(/img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    scroll-behavior: smooth;
}

body {
    color: white;
    width: 100vw;
}

/* START: Flexbox classes */
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-left {
    justify-content: flex-start;
}
.justify-center {
    justify-content: center;
}
.flex-right {
    justify-content: flex-end;
}
.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}
.space-evenly {
    justify-content: space-evenly;
}
.align-center {
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.no-wrap {
    flex-wrap: nowrap;
}
/* END: Flexbox classes */

/* START: Fonts */
.title {
    font-family: 'Assistant', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 3rem;
    color: white;
    box-shadow: 0px 4px 0px 0px #ff2a6d;
    width: max-content;
}
.general-text {
    font-family: 'Assistant', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 3rem;
    color: white;
}
/* END: Fonts */

.link {
    color: #66FCF1;
}
.link:hover {
    transition: 0.5s;
    color: #ff2a6d;
    box-shadow: 0px 3px 0px 0px #ff2a6d;
}

/* START: Button */
.my-button {
    width: max-content;
    margin-top: 10px;
}
.my-button a {
    background: #ff2a6d;
    padding: 15px;
    font-weight: 700;
    color: white;
    transition: 0.5s;
    text-align: center;
}
.my-button a:hover {
    background: #66FCF1;
    color: #111;
}
.my-button a span {
    margin-right: 10px;
}
/* END: Button */

/* START: Container */
.container {
    /* flex-grow:1;
    margin:0 auto;
    position:relative;
    max-width:960px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.width-30 {
    width: 30%;
}
.width-50 {
    width: 50%;
}
.width-70 {
    width: 70%;
}
/* END: Container */

/* START: Navigation for desktop */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    padding: 40px 0;
    transition: 0.3s;
}
.navigation {
    justify-content: space-around;
}
.navigation ul {
    display: none;
    list-style: none;
}
.logo-nav {
    width: 60px;
    height: 40px;
    margin-top: -5px;
}
.logo-nav:hover {
    transition: 0.25s;
    opacity: 0.8;
}
.logo,
.menu-button,
.navigation ul li a {
    display: block;
    padding: 14px 30px;
}
.navigation ul li a {
    text-decoration: none;
    font-family: 'Space Mono', 'monospace';
    font-size: 1.1em;
    color: white;
    text-align: center;
    padding: 14px 30px;
    transition: background .25s, box-shadow .15s;
}
.navigation ul li a:hover {
    color: #ff2a6d;
    box-shadow: 0px 4px 0px 0px #ff2a6d;
}
/* END: Navigation for desktop */


/* START: Mobile navigation */
.mobile {
    width: max-content;
    height: max-content;
}
#mobileToggle {
    display: none;
}
#mobileToggleButton {
    position: absolute;
    right: 2em;
    top: 3em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}
#mobileToggleButton span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all .2s ease-in-out;
}
#mobileToggleButton span::before {
    top: -10px;
    visibility: visible;
}
#mobileToggleButton span::after {
    top: 10px;
}
#mobileToggleButton span::before,
#mobileToggleButton span::after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    content: "";
    transition: all .2s ease-in-out;
}
#mobileToggleButton:hover span,
#mobileToggleButton:hover span::before,
#mobileToggleButton:hover span::after {
    background: #ff2a6d;
}
/* END: Mobile navigation */


/* START: Main */
#main {
    height: 90vh;
}
.main {
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 40px;
    margin-top: 20vh;
    user-select: none;
}
.main-item {
    padding: 10px;
}
.main-item h1 {
    font-size: 3rem;
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 3rem;
    color: #66FCF1;
}
.main-item h2 {
    font-family: 'Assistant', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 20px 0 20px;
    /* margin-bottom: 1.5rem; */
}
.main-item h3 {
    font-family: 'Assistant', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
.main-highlight {
    font-weight: 400;
    color: #ff2a6d;
}
.main-highlight:hover {
    transition: 0.5s;
    color: #b32954;
}
#image {
    height: 240px;
    width: 240px;
    background: url(/img/photo.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    text-align: center;
    /* filter: grayscale(100); */
}
#image:hover {
    transform: scale(1.1);
    filter: sepia(100%) hue-rotate(341deg) saturate(58%);
}
/* END: Main */


















/* START: Projects */
#projects {
    height: 93vh;
    background: #111;
    padding-top: 8vh;
    /* border: 1px solid white; */
}
/* END: Projects */





























/* START: About */
#about {
    height: 95vh;
    background: #1C1C1C;
    /* background: #273036; */
    padding-top: 8vh;
    /* border: 1px solid white; */
}
.skill-item {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    background: #111111;
    border-radius: 5px;
    border-bottom: 3px solid #ff2a6d;
}
.skill-text {
    font-family: 'Assistant', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.skill-percentage {
    color: #ff2a6d;
    font-weight: bold;
}
/* END: About */
























/* START: Contact/Footer */
#contact {
    background: #111;
    padding-top: 8vh;
}
/* .form {
    width: 100%;
} */
.form input,
.form textarea {
    font-size: 1rem;
    padding: 15px;
    margin: 10px 0;
    background: transparent;
    color: white;
    border: 2px solid #ff2a6d;
    outline: none;
}
.form textarea {
    resize: vertical;
}
.form input[type=submit] {
    width: max-content;
    background-color: #ff2a6d;
    font-weight: 700;
}
.form input[type=submit]:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #66FCF1;
    border: 2px solid #66FCF1;
    color: #111;
}
.form input:focus,
.form textarea:focus {
    transition: 0.5s;
    border: 2px solid #66FCF1;
}
.contact-item {
    width: 100%;
}
.contact-links {
    margin-top: 30px;
}
.contact-links li a {
    display: block;
    padding: 14px 30px;
    text-decoration: none;
    font-family: 'Space Mono', 'monospace';
    font-size: 1.1em;
    color: white;
    text-align: center;
    padding: 14px 30px;
    transition: background .25s, box-shadow .15s;
}
.contact-links li a:hover {
    color: #ff2a6d;
    box-shadow: 0px 4px 0px 0px #ff2a6d;
}
.copyright {
    margin: 50px 0;
    text-align: center;
    font-family: 'Assistant', monospace;
    color: rgb(201, 201, 201);
}
/* END: Contact/Footer */




/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
    #image {
        width: 200px;
        height: 200px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #mobileToggleButton {
        display: none;
    }
    .navigation ul {
        display: flex;
    }
    .main-item {
        padding: 20px;
    }
    #image {
        width: 275px;
        height: 275px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main {
        flex-direction: row;
    }
    .main-item h1 {
        font-size: 3rem;
        font-weight: 800;
        line-height: 3.5rem;
    }
    .main-item h2 {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 3rem;
        margin: 30px 0 30px;
    }
    .main-item h3 {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 5rem;
    }
    #image {
        width: 300px;
        height: 300px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #image {
        width: 350px;
        height: 350px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .main-item {
        padding: 30px;
    }
    .main-item h1 {
        font-size: 5rem;
        font-weight: 800;
        line-height: 4.5rem;
    }
    .main-item h2 {
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 3rem;
        margin: 30px 0 30px;
    }
    .main-item h3 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 5rem;
    }
} 















.side-socials {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: #ff2a6d;
}
.side-socials-list {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: outside none none;
}
.side-socials-list::after {
    content: "";
    display: block;
    width: 3px;
    height: 90px;
    margin: 0px auto;
    background: #ff2a6d;
}
.side-socials-list li a {
    display: block;
    padding: 7px 15px;
    margin: 5px;
    text-decoration: none;
    font-family: 'Space Mono', 'monospace';
    font-size: 1.1em;
    color: white;
    text-align: center;
    transition: background .25s;
}
.side-socials-list li a:hover {
    color: #ff2a6d;
}