@import url('https://fonts.googleapis.com/css2?family=Space+Mono');

html {
    background: #0B0C10;
    scroll-behavior: smooth;
}

body {
    color: white;
    width: 100vw;
    height: 5000px;
}

/* START: Navigation for desktop */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background: none;
    padding: 60px 0;
    transition: 0.5s;
}

.primary-nav ul li {
    display: none;
}

@media only screen and (min-width: 545px) {
    .primary-nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .primary-nav ul li {
        display: block;
    }
}
/* END: Navigation for desktop */

/* START: Navigation for mobile */
.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background: white;
    border-top: 4px solid red;
}

.secondary-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 545px) {
    .secondary-nav ul {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .secondary-nav ul li {
        display: block;
    }
}
/* END: Navigation for mobile */