@import url('https://fonts.googleapis.com/css2?family=Space+Mono');

html {
    background: #0B0C10;
    scroll-behavior: smooth;
}

body {
    color: white;
    width: 100vw;
}

/* START: Navigation for desktop */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background: #0B0C10;
    padding: 40px 0;
    transition: 0.5s;
    border-bottom: 1px solid greenyellow;
}

.primary-nav ul li {
    display: none;
}

.primary-nav ul li a {
    display: block;
    text-decoration: none;
    font-family: 'Space Mono', 'monospace';
    font-size: 1.1em;
    color: white;
    text-align: center;
    padding: 14px 30px;
    transition: background .25s, box-shadow .15s;
}

.primary-nav ul li a:hover {
    color: #66FCF1;
    /* box-shadow: 0px 4px 0px 0px #66FCF1; */
}

@media only screen and (min-width: 600px) {
    .primary-nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .primary-nav ul li {
        display: block;
    }
    .primary-nav ul li a {
        padding: 20px;
    }
}
/* END: Navigation for desktop */

/* START: Navigation for mobile */
.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background: white;
    border-top: 4px solid red;
}

.secondary-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    /* header {
        display: none;
    } */
    .secondary-nav ul {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .secondary-nav ul li {
        display: block;
    }
}
/* END: Navigation for mobile */

#main {
    margin-top: 150px;
    border: 1px solid red;
    height: 100vh;
}
#projects {
    height: 500px;
    background: white;
}
#about {
    height: 500px;
    background: green;
}
#contact {
    height: 500px;
    background: yellow;
}

#footer {
    width: 100%;
    background: #0B0C10;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-container .footer-item {
    padding: 15px;
}

.footer-container .footer-item ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-container .footer-item ul li {
    display: block;
}
.footer-container .footer-item ul li a {
    padding: 20px;
    color: white;
}

.footer-container .footer-item ul li a:hover {
    border: 1px solid #66FCF1;
    color: #66FCF1;
}