.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.app__about-container {
    width: 90%;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .app__about-image {
        max-width: 350px;
        max-height: 350px;
        margin-right: 5rem;
        
        .app__flex {
            img {
                height: auto;
                width: 100%;
                border-radius: 50%;
            }
        }

        @media screen and (max-width: 1200px) {
            margin-right: 0;
            margin-bottom: 3rem;
            justify-content: center;
            align-items: center;
        }
    }

    .app__about-info {
        width: 60%;

        .content-text {
            margin-bottom: 10px;
            text-align: left;
        }

        .app__about-info-btn {
            // text-align: center;
            button {
                padding: 1rem 2rem;
                border-radius: 10px;
                border: none;
                background-color: var(--primary-color);
                font-weight: 500;
                color: var(--white-color);
                outline: none;
                margin: 2rem 0 0 0;
                font-family: var(--font-base);
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                div {
                    color: var(--white-color);
                    font-size: 1rem;
                }

                span {
                    margin-left: 0.75rem;
                }
          
                &:hover {
                    background-color: #421097;
                }
            }
        }

        @media screen and (max-width: 900px) {
            text-align: center;
            width: 100%;
        }
    }
  
    @media screen and (max-width: 1200px) {
        width: 100%;
        flex-direction: column;
    }
}