.app__footer {
    flex: 1;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
  
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}
  
.app__footer-cards {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 4em 2rem 2rem;
  
    .app__footer-card {
        min-width: 290px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 1rem 0;
        padding: 1rem;
        border-radius: 10px;
        border: 2px solid transparent;
        cursor: pointer;
        text-decoration: none;
        background-color: var(--primary-color);
        transition: all 0.3s ease-in-out;
  
        img {
            width: 40px;
            height: 40px;
            margin: 0.5rem 0;
        }

        .p-text {
            font-weight: 500;
            font-weight: 500;
            color: var(--white-color);
        }

        a {
            text-decoration: none;
            font-weight: 500;
            color: var(--white-color);
        }

        &:hover {
            background-color: #421097;
        }
  
        @media screen and (max-width: 450px) {
            width: 100%;
        }
    }
  
    @media screen and (max-width: 768px) {
      width: 100%;
    }
}
  
.app__footer-cards .app__footer-card:last-child {
    background-color: var(--secondary-color);

    .p-text {
        color: var(--bg-color);
    }
}
  
.app__footer-cards .app__footer-card:last-child:hover {
    background-color: #38aa82;
}
  
.app__footer-form {
    width: 60%;
    flex-direction: column;
    margin: 1rem 2rem;
  
    div {
        width: 100%;
        margin: 0.75rem 0;
        border-radius: 10px;
        cursor: pointer;
        // background-color: var(--primary-color);
        transition: all 0.3s ease-in-out;
  
        input,
        textarea {
            width: 100%;
            padding: 0.95rem;
            border: 2px solid transparent;
            border-radius: 7px;
            background-color: var(--secondary-bg-color);
            font-family: var(--font-base);
            color: var(--white-color);
            outline: none;
            transition: all 0.3s ease-in-out;

            &.error-input {
                border: 2px solid red;
                color: red;
            }

            &:hover,
            &:focus {
                // box-shadow: 0 0 25px var(--secondary-color);
                border-color: var(--secondary-color);
                color: var(--secondary-color);
            }

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--lightGray2-color);
                opacity: 1; /* Firefox */
            }
              
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: var(--lightGray2-color);
            }
              
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: var(--lightGray2-color);
            }
        }
  
        textarea {
            height: 170px;
            resize: none;
        }
    }

    .app__footer-form-btn {
        text-align: center;

        button {
            padding: 1rem 2rem;
            border-radius: 10px;
            border: none;
            background-color: var(--primary-color);
            font-weight: 500;
            color: var(--white-color);
            outline: none;
            margin: 2rem 0 0 0;
            font-family: var(--font-base);
            transition: all 0.3s ease-in-out;
            cursor: pointer;
      
            &:hover {
                background-color: #421097;
            }
        }
    }
  
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 1rem 0;
    }
}

.error-text {
    color: red;
    font-weight: 800;
    margin-top: 5px;
    cursor: text;
}