.app__navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    transition: all 0.3s ease-in-out;
    z-index: 5;
    flex-direction: column;
}

.app__navbar-bg-scroll {
    background-color: var(--bg-color);
}

.app__navbar-bg-normal {
    background-color: rgba(255, 255, 255, 0.25);
}

.app__navbar-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    button {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        width: 50px;

        img {
            width: 100%;
            height: auto;
    
            @media screen and (min-width: 2000px) {
                width: 180px;
                height: 70px;
            }
        }
    }

}

.app__navbar-links {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
        margin: 0.5rem 1rem;
        cursor: pointer;
        flex-direction: column;

        div {
            width: 100%;
            height: 3px;
            background: transparent;
            border-radius: 2px;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;
        }

        a {
            // color: var(--gray-color);
            color: var(--white-color);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--secondary-color);
            }
        }

        &:hover {
            div {
                background: var(--secondary-color);
            }
        }
    }
}

.app__navbar-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    li {
        margin: 0.5rem 1rem;
        cursor: pointer;
        flex-direction: column;

        a {
            color: var(--white-color);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.5rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--secondary-color);
            }
        }

        &:hover {
            div {
                background: var(--secondary-color);
            }
        }
    }
}

.app__navbar-mobile-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--white-color);

    @media screen and (min-width: 700px) {
        display: none;
    }
}

.app__navbar-mobile-links {
    width: 100%;
    transition: all 0.3s ease-in-out;
    
    .app__navbar-mobile-link {
        margin: 0.5rem 0;
        border-radius: 25px;
        transition: all 0.3s ease-in-out;

        a {
            width: 100%;
            padding: 1rem;
            color: var(--white-color);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 1rem;
            // text-align: center;
        }

        &:hover,
        &::selection {
            background-color: var(--primary-color);
        }
    }

    .app__navbar-mobile-socials {
        margin: 2rem 0 1rem 0;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        div {
            width: 30px;
            height: 30px;
            border: 1px solid transparent;
            border-radius: 50%;
            background-color: transparent;
        
            display: flex;
            justify-content: center;
            align-items: center;
        
            transition: all 0.3s ease-in-out;
      
            svg {
                width: 100%;
                height: 100%;
                color: var(--white-color);
                transition: all 0.3s ease-in-out;
            }
      
            &:hover,
            &:focus {
                svg {
                    color: var(--primary-color);
                }
            }
        }
    }

    @media screen and (min-width: 700px) {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .app__navbar {
        background-color: var(--bg-color);
        // flex-direction: column;
    }

    .app__navbar-links {
        display: none;
    }


    .app__navbar-social {
        display: none;
    }
}