html {
    // scroll-padding-top: 70px; /* height of sticky header */
}

.app {
    background-color: var(--bg-color);
    font-family: var(--font-base);
}
  
.app__whitebg {
    background-color: var(--white-color);
}
  
.app__primarybg {
    background-color: var(--bg-color);
}
  
.app__container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.app__container-alt {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
}
  
.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.app__wrapper {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 2rem 2rem;

    @media screen and (max-width: 450px) {
        padding: 4rem 1rem 2rem;
    }
}
  
.copyright {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p {
        text-transform: uppercase;
        color: var(--white-color);
    }
}
  
.head-text {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: var(--white-color);
    text-transform: capitalize;
  
    span {
        color: var(--secondary-color);
    }
  
    @media screen and (min-width: 2000px) {
        font-size: 4rem;
    }
  
    @media screen and (max-width: 450px) {
        font-size: 2rem;
    }
}

.head-text-2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: var(--white-color);
    text-transform: capitalize;
  
    span {
        color: var(--secondary-color);
    }
  
    @media screen and (min-width: 2000px) {
        font-size: 3.25rem;
    }
  
    @media screen and (max-width: 450px) {
        font-size: 1.25rem;
    }
}

.sub-text {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    color: var(--primary-color);
    text-transform: capitalize;
  
    span {
        color: var(--secondary-color);
    }
  
    @media screen and (min-width: 2000px) {
        font-size: 2.75rem;
    }
  
    @media screen and (max-width: 450px) {
        font-size: 0.75rem;
    }
}
  
.p-text {
    font-size: 0.8rem;
    text-align: left;
    color: var(--gray-color);
    line-height: 1.5;
  
    @media screen and (min-width: 2000px) {
        font-size: 1.75rem;
    }
}
  
.bold-text {
    font-size: 1rem;
    font-weight: 800;
    color: var(--secondary-color);
    text-align: left;
  
    @media screen and (min-width: 2000px) {
        font-size: 2rem;
    }
  
    @media screen and (max-width: 450px) {
        font-size: 0.9rem;
    }
}

.content-text {
    font-size: 1rem;
    color: var(--white-color);
    text-align: left;
    line-height: 2;

    a {
        text-decoration: none;
        color: var(--primary-color);
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
            text-decoration: underline;
            color: var(--secondary-color);
        }
    }
  
    @media screen and (min-width: 2000px) {
        font-size: 2rem;
    }

    @media screen and (max-width: 1200px) {
        text-align: center;
    }
  
    @media screen and (max-width: 450px) {
        font-size: 0.9rem;
    }
}

.filler {
    padding: 2rem;
    content: "";

    div {
        width: 40px;
        height: 40px;
        background-color: transparent;
        color: transparent;
        margin: 1rem 0;
  
        @media screen and (min-width: 2000px) {
            width: 70px;
            height: 70px;
            margin: 0.5rem 0;
        }
    }
}
  
.app__social {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    // align-items: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
  
    padding: 2rem;
  
    div {
        width: 40px;
        height: 40px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: transparent;
        margin: 1rem 0;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        transition: all 0.3s ease-in-out;
  
        svg {
            width: 20px;
            height: 20px;
            color: var(--white-color);
        }
  
        &:hover {
    
            svg {
                color: var(--secondary-color);
            }
        }
  
        @media screen and (min-width: 2000px) {
            width: 70px;
            height: 70px;
            margin: 0.5rem 0;
  
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}
  
.app__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  
    .app__navigation-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0.5rem;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: var(--secondary-color);
        }

        @media screen and (min-width: 2000px) {
            width: 20px;
            height: 20px;
        }
    }
}
  
@media screen and (max-width: 700px) {
    .app__navigation,
    .app__social,
    .filler {
        display: none;
    }
    .copyright {
        padding: 2rem;
    }
}